/* google font */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,800;9..144,900&family=Montserrat:wght@500;600;700;800;900&display=swap');

/* override default browser styles and add general styles */
*,
*::before,
*::after {
    box-sizing: border-box;  
    float: none; 
    margin: 0;
    padding: 0;
    

              
    }
    
    body{
        font-family: 'Fraunces', sans-serif;
        background-color:hsl(37, 83%, 84%);
        border: 1rem;
        min-height:100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin:initial;
    }
    
    .container{
       display: flex;   
       border-radius: 20px;       
        max-width: 100%;
        overflow: auto;
        box-shadow: -15px -15px 15px rgba(2, 1, 1, 0.3);
        
    }
    
    .content{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }

    .bord{
        max-width: 720px;
        border-style:groove;
        background-color: #ffffff;
        border-radius: 20px;
        overflow: hidden;
        
    
    }
    
    .img {
        
        max-width: 100%;
        border-color: rgba(24, 24, 24, 0.511);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
       border-radius: 15px;
       border-style:outset;
       border-width: 1px;
        overflow: hidden;
    }
    
         
    .prod{
        font-family: 'Fraunces', serif;
        font-size: 34px;
        line-height: 1.5em;
        color: hsl(212, 21%, 14%);
        text-shadow: 2px 3px 5px rgba(24, 22, 22, 0.55);
    }
    
    .des{
        color: hsl(0, 0%, 0%);
        line-height: 1.5rem;
        font-size-adjust: inherit;
        font-weight: 100;
        max-width: 70vh; 
    }
    
    .price{
        display: flex;
        text-shadow: 2px 3px 5px rgba(24, 22, 22, 0.5);
        font-family: 'Fraunces', serif;
        font-size: 25px;
        color: rgb(0, 0, 0);
        padding-top: 15px;
        padding-left:35%;
        
    }
    
       
    .ex-price{
        color: hsl(230, 13%, 18%);
        font-family:serif ;
        text-decoration: line-through;
        text-decoration-color: rgba(225, 0, 0, .806);
        font-size: 25px;
        padding-left: 5%;
    }
    
        

    .btn {
        font-family: 'Fraunces', serif;
        max-width: 100%;
         background-color:rgb(255, 111, 0);
        border-color: rgb(0, 0, 0);
        padding: 0.3%;
        border-radius: 12px;
        color: rgb(0, 0, 0);
        font-size: 30px;
        font-style: italic;
        font-weight: 400;
        transition: background-color .5s ease;
        
           }
    
    .btn:hover{
        background-color: white;
        cursor: pointer;
       
        
    }

    .card {
        float: left;
        padding: 2px;
        margin-left: 10px;
        
        
        
    }
    
   
      @media only screen and (max-width: 735px)
    {
                        
        
        img{
            
            max-width: 100%;
           
            
            
        }
       
            .prod, .des, .price {
            padding-bottom: 10px;
        }
        .btn{
            
           width: 100%;
            overflow: hidden;
            font-style: italic;
            font-weight: 300;
            font-size: 29px;
    }
}      
      @media only screen and (max-width: 630px)
   
       
{
        img {
         max-width: 100%;
           
            
        }
       
            .prod, .des, .price {
            padding-bottom: 10px;
        }
        .btn{
            
            font-size:2.5vmin;
            width: 100%;
            font-style: italic;
        font-weight: 200;
        font-size: 28px
        }
}

/*-- Julia´s and Maria´s Card style --*/

.cards-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content:center; 
    gap: 20px; 
    margin-top: 20px; 
    
}

.card-julia {
    width: 100%;
    margin: 1rem auto;
    border: 4px solid #2f4858;
    min-height:100vh;
    
}

.card-julia figure {
    margin: 0;
}

.card-julia img {
    width: 100%;
    height:auto;
     object-position:center;
    
    
}

.card-julia figcaption {
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.card-julia p {
    padding: 0 1rem 1rem 1rem;
    margin: 0;
}

.card-julia .price {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    color: #2f4858;
}

.card-julia span.old-price {
    color: #879c92;
    text-decoration: line-through;
    margin-left: 1rem;
}

.card-julia button.cart {
    background: #2f4858;
    color: #d5d4c5;
    padding: 0.5rem 1rem;
    border: none;
    margin: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.card-julia .details {
    display: flex;
    flex-direction: column;
}

 three columns on big screens 
@media screen and (min-width: 900px) {
    .card {
        width: 33%;
    }
}

